@model Product

<h2>Edit Product</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data" ">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ImagePath" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var cat in ViewBag.Categories)
            {
                <option value="@cat.Id" selected="@(cat.Id == Model.CategoryId)">
                    @cat.Name
                </option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label>Current Image</label><br />
        <img src="~/images/@Model.ImagePath" width="100" />
    </div>

    <div class="mb-3">
        <label>New Image</label>
        <input type="file" name="file" class="form-control" />
    </div>

    <button class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}